:root {
  --container-width: 850px;
  --form-width: var(--container-width) * 0.55;
  --img-width: var(--container-width) * 0.45;
  --font-default: Roboto;
  --bg-color: hsl(235, 18%, 26%);
  --color-primary: rgb(255, 98, 87);
  --color-darkgrey: hsl(234, 29%, 20%);
  --color-grey: hsl(231, 7%, 60%);
  --color-white: hsl(0, 0%, 100%);
  background: var(--bg-color);
  color: var(--bg-color);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blur {
  filter: blur(5px);
}
@media screen and (max-width: 850px) {
  :root {
    --container-width: 375px;
    background: var(--color-white);
  }
}
